# Gemini API (visión + LLM runtime, $0)
GEMINI_API_KEY=AIzaSyBebPNhkgaPcuwj2_nFUgVvD74K-14dAmY

# INACAP API (deepseek/qwen runtime, $0)
INACAP_API_KEY=7cPz9oYGSA8FCNNIbX0y_NN1ybYBmGcjj_jHjo80tGYo29aO8iVvvkxKOPF1IphQQWOr_RB0kCYQayY7dh_eJA
INACAP_ENDPOINT=https://api-ap-southeast-1.modelarts-maas.com/openai/v1

# Backend
CORS_ORIGINS=http://localhost:3000,https://caleta-app.vercel.app
DATABASE_URL=sqlite:///./caleta.db
